aiohttp==3.9.5
aiosignal==1.3.1
attrs==23.2.0
Brotli==1.1.0
dnspython==2.6.1
filelock==3.15.4
frozenlist==1.4.1
idna==3.7
multidict==6.0.5
pminit==0.6.0
py3-validate-email @ git+https://git.ksol.io/karolyi/py3-validate-email@32c8f4cdfaba4c7e7fc81405a023c849a9268859
pyreadline3==3.4.1
pythonmonkey==0.6.0
typing_extensions==4.12.2
yarl==1.9.4
